/* Created by TopStyle Trial - www.topstyle4.com */
h1 {
	color: lime;
	background-color: black;
	
	
}

h2 {
	color: black;
	background-color: lime;
	




p {
	color: black;
	background-color: inherit;
}
